<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.bootcdn.net/ajax/libs/pure/3.0.0/pure-min.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/pure/3.0.0/grids-responsive-min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ 'assets/styles.css' | relative_url }}">
  <link rel="apple-touch-icon" href="/imgs/apple-touch-icon.png">
  <link rel="icon" href="/imgs/favicon.ico">
  {%- include custom-head.html -%}
  {%- feed_meta -%}
</head>
