---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>
<ul class="post-list-by-taxonomy">
  <li><a href="http://tool.chinaz.com/Tools/jsformat.aspx" target="_blank">JS/Html 代码格式化</a></li>
  <li><a href="https://material.io/resources/color/" target="_blank">Material Design 颜色工具</a></li>
  <li><a href="https://mail.yeah.net/" target="_blank">yeah 邮箱</a></li>
  <li><a href="https://mail.sina.com/" target="_blank">sina 邮箱</a></li>
  <li><a href="https://hanzizhuanpinyin.wncx.cn/" target="_blank">汉字转拼音</a></li>
  <li><a href="https://go.microsoft.com/fwlink/?LinkId=625115" target="_blank">bing</a></li>
  <li><a href="https://www.lanzou.com/" target="_blank">蓝奏·云</a></li>
  <li><a href="https://wuffs.org/acnh/weather/" target="_blank">MeteNook Alpha</a></li>
</ul>
