---
layout: default
---

{% include home-header.html %}

<div class="posts">
  <section class="post-entry">
    <h2 class="post-title">HAM</h2>
    <p>
      <a class="pure-button" href="http://82.157.138.16:8091/CRAC/crac/login_student.html" target="_blank">考试报名入口</a>
      <a class="pure-button" href="http://82.157.138.16:8091/CRAC/crac/pages/list_examMsg.html" target="_blank">考试信息</a>
      <a class="pure-button" href="http://www.crac.org.cn/News/List?type=6&y=" target="_blank">资料下载</a>
      <a class="pure-button" href="https://ham.c5r.app/" target="_blank">字母解释法训练器</a>
      <a class="pure-button" href="https://forum.hamcq.cn" target="_blank">HamCQ</a>
      <a class="pure-button" href="http://www.qrz.cn/call/" target="_blank">呼号查询</a>
    </p>
  </section>
  <section class="post-entry">
    <h2 class="post-title">快速进入</h2>
    <p>
      <a class="pure-button" href="https://cn.bing.com/?mkt=zh-cn" target="_blank">Bing 搜索</a>
      <a class="pure-button" href="https://www.baidu.com/" target="_blank">百度搜索</a>
      <a class="pure-button" href="https://www.lanzou.com/" target="_blank">蓝奏·云</a>
      <a class="pure-button" href="https://mail.yeah.net/" target="_blank">Yeah邮箱</a>
      <a class="pure-button" href="https://mail.sina.com/" target="_blank">新浪邮箱</a>
      <a class="pure-button" href="https://msdn.itellyou.cn/" target="_blank">MSDN, 我告诉你</a>
      <a class="pure-button" href="https://www.douyin.com/?is_from_mobile_home=1&recommend=1" target="_blank">抖音网页版</a>
      <a class="pure-button" href="http://www.radio.cn/pc-portal/erji/radioStation.html" target="_blank">云听 FM</a>
      <a class="pure-button" href="http://www.bilibili.com/" target="_blank">哔哩哔哩</a>
      <a class="pure-button" href="http://www.acfun.cn/" target="_blank">Acfun</a>
    </p>
  </section>
  <section class="post-entry">
    <h2 class="post-title">常用</h2>
    <p>
      <a class="pure-button" href="https://www.jyshare.com/front-end/712/" target="_blank">Markdown 在线编辑器</a>
      <a class="pure-button" href="http://tool.chinaz.com/Tools/jsformat.aspx" target="_blank">JS/Html 代码格式化</a>
      <a class="pure-button" href="https://material.io/resources/color/" target="_blank">Material Design 颜色工具</a>
      <a class="pure-button" href="https://hanzizhuanpinyin.wncx.cn/" target="_blank">汉字转拼音</a>
    </p>
  </section>
  <section class="post-entry">
    <h2 class="post-title">动森</h2>
    <p>
      <a class="pure-button" href="https://wuffs.org/acnh/weather/" target="_blank">MeteNook Alpha</a>
      <a class="pure-button" href="https://ac-turnip.com/" target="_blank">集合森大头菜价格计算器</a>
      <a class="pure-button" href="http://m.kuai8.com/news/296790.html" target="_blank">集合森艺术品辨别</a>
    </p>
  </section>
</div>
